$red-color: #DE0B0B;
$red-color-dark: #9F0000;
$gray-color: #808080;
$gray-color-light: #c0c0c0;
$gray-color-dark: rgba(255,255,255,0.8);
$green-color: #51CB5A;
$blue-color: #3A589D;

$primary-font: 'Open Sans', sans-serif;
$second-font: 'Cookie', cursive;
$third-font:  'Beau Rivage', cursive;