footer.footer 
    .container.footer-main
            .footer-content.footer-item
                h3.footer-title Sky's Gourmet Tocas
                p.global-text.footer-desc Our restaurant is proud to be one of the famous restaurants in Los Angeles, specializing in authentic California dishes.
                p.global-text.footer-desc Fresh food is our indispensable requirement to prepare wharf for customers. You will surely be satisfied with the quality of our products and services.
            .footer-socials.footer-item
                .footer-logo 
                    img(src="./images/SkysTacoSmall.png", alt="")
                button.button.footer-button Book table now
                .footer-social
                    a(href="#!").footer-social-item.icon-facebook
                        i.fab.fa-facebook-f
                    a(href="#!").footer-social-item.icon-email
                        i.fas.fa-envelope
                    a(href="#!").footer-social-item.icon-phone
                        i.fas.fa-phone-alt
                    a(href="#!").footer-social-item.icon-pinterest 
                        i.fab.fa-pinterest-p
            .footer-contact.footer-item 
                p.footer-info Contact information 
                ul.footer-contact-menu 
                    li.footer-contact-item Address: Sky's Marketplace 4333 Admiralty Way #001 Marina Del Rey, CA 90292
                    li.footer-contact-item Phone: 0999000000
                    li.footer-contact-item Email: email@gmail.com
                    li.footer-contact-item Website: myproduct.com