section.hightlight 
    .container.hightlight-container
        +blockHeading("Best selling dish 04/2022", "We recommend you some of the dishes that have become our brand and have the best sales in 04/2022")
        .hightlight-list    
            +menuSliderItem("https://images.unsplash.com/photo-1600975850954-941bc3ac0ca1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", "Soju Korea")
            +menuSliderItem("https://images.unsplash.com/photo-1621241441637-ea2d3f59db32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", "Salad Mannequin")
            +menuSliderItem("https://images.unsplash.com/photo-1576866209830-589e1bfbaa4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", "Sixdoong Camping")
            +menuSliderItem("https://images.unsplash.com/photo-1619221882220-947b3d3c8861?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Chicken Fried")
            +menuSliderItem("https://images.unsplash.com/photo-1625539990527-914cf510191d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80", "Icream")
            +menuSliderItem("https://images.unsplash.com/photo-1528510138849-786a5feddf94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Ramen Japan")
            +menuSliderItem("https://images.unsplash.com/photo-1621273580863-b6622cda5eb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Food Tour")
            +menuSliderItem("https://images.unsplash.com/photo-1611309454921-16cef3438ee0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", "Humberger Tocas")