section.menu-page 
    .container
        .menu-page-content 
            .menu-page-list-wrapper
                .global-text.introduce-desc 
                    p.global-text Hello Webdemo.com readers,
                    p.global-text Webdemo.com was established in November 2016 as a personal blog, with the original purpose of storing knowledge articles or creative products in the process of studying and working.
                    p.global-text After a period of operation, the website has made significant progress in both quality and appearance. The number of website visitors who become customers using design services has increased significantly. From taking care of website content according to their preferences, Webdemo has gradually conquered customers with prestigious and quality creative design services.
                    p.global-text Confident with the ability to meet all design requirements of customers, Webdemo officially offers professional Graphic Design and Website Design services from the beginning of 2017. The support and trust of customers will become great inspiration for Webdemo in the process of sketching design ideas into reality.
                    p.global-text Thank you for your trust and support in the past time.
                    p.global-text Best regards./.
                    p.global-text Admin
            .menu-page-care
                .menu-page-care-title Maybe you are interested
                .menu-page-care-list   
                    +menuPageCare("https://images.unsplash.com/photo-1628809643597-654efb99b214?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80", "The secret to making flan smooth, soft and beautiful 'like a queen'")
                    +menuPageCare("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/mi-tron-ga-xe-6-1552905753415121749128-1.jpg", "I made mixed noodles to take out for lunch, the whole office asked for it")
                    +menuPageCare("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/thịt-lợn-rừng.jpg", "Losing weight is no longer difficult since I have a 'divine' mixed vermicelli for lunch every day")
                    +menuPageCare("https://images.unsplash.com/photo-1490556278693-b666672547a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80","May be egg is the easy dishes for you, but do you know how to do egg like me?")
                    +menuPageCare("https://images.unsplash.com/photo-1563729784474-d77dbb933a9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80","Ice Cream is the best on the summer, let book it now for you and your family")
                    +menuPageCare("https://images.unsplash.com/photo-1614398750956-402891a7dce1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80","BBQ the more delicous when go out with your friend")

