section.new 
    .container.new-container 
        +blockHeading("New Post", "Let's learn with the chef of our Restaurant and learn how to prepare some popular dishes!")
        .new-list 
            +newItem("https://images.unsplash.com/photo-1628809643597-654efb99b214?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80","The secret to making flan smooth, soft and beautiful 'like a queen'","05/04/2022")
            +newItem("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/mi-tron-ga-xe-6-1552905753415121749128-1.jpg","I made mixed noodles to take out for lunch, the whole office asked for it","05/04/2022")
            +newItem("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/thịt-lợn-rừng.jpg","Losing weight is no longer difficult since I have a 'divine' mixed vermicelli for lunch every day","05/04/2022")
            +newItem("https://images.unsplash.com/photo-1490556278693-b666672547a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80","May be egg is the easy dishes for you, but do you know how to do egg like me?","05/04/2022")
            +newItem("https://images.unsplash.com/photo-1563729784474-d77dbb933a9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80","Ice Cream is the best on the summer, let book it now for you and your family","05/04/2022")
            +newItem("https://images.unsplash.com/photo-1614398750956-402891a7dce1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80","BBQ the more delicous when go out with your friend","05/04/2022")
            


