section.why 
    .container.why-container 
        .why-logo 
            img(src="https://skystacos.com/wp-content/uploads/2018/12/SkysTacoSmall.png")
        .why-heading-box
            h3.global-heading.why-heading Why should you choose Sky's Gourmet Tocas Restaurant?
        p.gobal-text.why-desc The standard UK hot pot menu has more than 50 dishes selected by the experienced chef himself, served in the order of appetizer soup, grilled dish, bamboo shoot, water dish, soup, hot pot, tea and fruit. Desserts for diners to fully enjoy all kinds of dishes without feeling too full, instead leaving only delicious flavors and special nutrients in each dish that will make diners remember forever.
        .why-list 
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/fresh.png","Products are always fresh")
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/online-order.png","Support easy online ordering")
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/FREE-WIFI.png","Strong wifi waves cover the restaurant")
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/free-parking.png","Free car parking available")
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/ship-tan-nha.png","Delivery to your doorstep with Online orders")
            +whyItems("https://bizhostvn.com/w/nhahang/wp-content/uploads/2019/04/phong-hoi-truong.png","There is a large conference room")



