extends layout/layout

block vars
	-title = 'Sky\'s Gourmet Tacos Restaurant'
	-bodyClass = 'home-page'

block container
	include blocks/menu
	include blocks/why
	include blocks/hightlight
	include blocks/book
	include blocks/new